# Overview
The SnapChance API provides access to Multilot's platform to create custom scratch games, manage lotteries, as well as information about the games and the players. It allows customer platforms to customize the user experience.

The scratch game supports two types of winnings:

* An instant win: The user receives the winnings right at the end of the game.
* A win at the end of a draw: Some prizes are awarded at the end of a draw. The player won't receive these until the draw has ended.

This documentation provides information about each endpoint in the API. The right-hand pane of this page shows example requests and responses for each endpoint in different languages.


# Getting started
Follow these steps to start using the SnapChance API:

* Sign contract with Multilot SnapChance
* Get URLs and Credentials for test and production environment from Multilot SnapChance support team
* Create an application.

Authenticate to the API to get a token. Authentication is required for all endpoints in the Multilot public API. The API accepts HTTP basic authentication for some endpoints and OAuth authentication for all endpoints. See Authentication.

This API reference includes examples in several programming languages. Most of the examples assume that you replace `{access-token}` with the OAuth token

Examples for cURL
The cURL examples work on the command line of many operating systems, including Windows, MacOS, and Linux, but you may need to install the cURL program.

*Examples for JavaScript and Node.JS*
The examples for JavaScript and Node.JS use the fetch library.

Base URLs:

* <a href="https://api-release.snapchance.no">https://api-release.snapchance.no</a>

Web: <a href="https://snapchance.no">SnapChance</a>
